<div class="hero-banner-container">
  <div>
    <p class="beats-solo">
      {{banners[0].largeText1!}}
    </p>
    <h3 >{{banners[0].midText}}</h3>

    <h1 class="h1-product">
      {{banners[0].product}}
    </h1>

    <img [src]="banners[0].image" alt="headphone" class="hero-banner-image" width="200" height="200">

    <div>
      <button class="bottom" type="button" (click)="BtnClickToDetails(banners[0].product_id.id)"
              ><!--
              onClick={()=> detailHeroBannerHandler(bannerData[0])}
              {bannerData[0].ButtonText}-->
      {{banners[0].buttonText}}
      </button>

      <div class="desc">
        <h5>Description</h5>
        <p>{{banners[0].desc}}</p>
      </div>
    </div>

  </div>

</div>
