.player-title ,.comment{
  text-align: center;
  text-transform: capitalize;
  font-family: "Segoe UI", "GeezaPro", "DejaVu Serif", sans-serif, "-apple-system", "BlinkMacSystemFont";
  font-weight: bolder;
  font-style: oblique;
}
