<!--<button type="button" class="btn btn-primary" (click)="logout()">Logout</button>-->

<div class="container border border-1 border-red w-100 mx-auto p-5 background"
style="margin-top : 10px ; border-radius : 10px">
<ul class="list-group ml-3" style="text-align : center ; margin-bottom : 20px">
<li class="player-title my-5 py-5">

  <button class="btn btn-primary preText text-white mb-2" (click)="logout()">
    Logout
  </button>
  <div class="text-muted text-color">Are you sure to logOut ?</div>
</li>
</ul>

</div>
