<div class="success-wrapper">
  <div class="success">
    <p class="icon">
      <!--<BsBagCheckFill/>-->
      <fa-icon  [icon]="faMoneyCheck"></fa-icon>
    </p>
    <h2>Thank you for your order !</h2>
    <p class="email-msg">Check your email inbox for the receipt.</p>
    <p class="description">
      If you have any question , please email
      <a class="email" href="mailto:order@example.com">
        order@example.com
      </a>
    </p>

    <button class="btn btn-primary" (click)="shoppingAgainBtn()">Continue Shopping</button>
  </div>
</div>
